# SageMaker Payment Classification

---

This notebook's CI test result for us-west-2 is as follows. CI test results in other regions can be found at the end of the notebook. 

![This us-west-2 badge failed to load. Check your device's internet connectivity, otherwise the service is currently unavailable](https://prod.us-west-2.tcx-beacon.docs.aws.dev/sagemaker-nb/us-west-2/use-cases|financial_payment_classification|financial_payment_classification.ipynb)

---


## Background <a class="anchor" id="Background"></a>

This notebook demonstrates how you can train and deploy a machine learning model to classify payment transactions. Enriching financial transactions with the category of the transaction. This can be used as an intermediate step in fraud detection, personalization or anomaly detection. As well as a method to provide end users (e.g. customers at a bank) with an overview of their spending habits. Amazon SageMaker can be used to train and deploy a XGBoost model, as well as the required underlying infrastructure. For this notebook a generated dataset is used where a payment consists of mostly an amount, sender, receiver and timestamp.


## Notebook overview <a class="anchor" id="Notebook-overview"></a>

This notebook consists of seven parts. First, we import and configure the required libraries. After that we prepare the data used in this example and create the feature store. With the newly created features we create a XGBoost model. An endpoint is created to host this model. We evaluate the performance of the model and end by cleaning up the used resources.

## Dataset <a class="anchor" id="Dataset"></a>

For this notebook we use a synthetic dataset. This dataset has the following features 

* __transaction_category__: The category of the transaction, this is one of the next 19 options.

               'Uncategorized', 'Entertainment', 'Education',
                    'Shopping', 'Personal Care', 'Health and Fitness',
             'Food and Dining', 'Gifts and Donations', 'Investments',
         'Bills and Utilities', 'Auto and Transport', 'Travel',
            'Fees and Charges', 'Business Services', 'Personal Services',
                       'Taxes', 'Gambling', 'Home',
      'Pension and insurances'


* __receiver_id__: an identifier for the receiving party. The identifier consist of 16 numbers.
* __sender_id__: an identifier for the sending party. The identifier consist of 16 numbers.
* __amount__: the amount which is transferred.
* __timestamp__: the timestamp of the transaction in YYYY-MM-DD HH:MM:SS format.


### 1. Setup <a class="anchor" id="Setup"></a>

Before we start we need to update the sagemaker library

In [1]:
# import sys
# !{sys.executable} -m pip install --upgrade pip       --quiet # upgrade pip to the latest vesion
# !{sys.executable} -m pip install --upgrade sagemaker --quiet # upgrade SageMaker to the latest vesion
# !{sys.executable} -m pip install --upgrade boto      --quiet # upgrade boto to the latest vesion

In [2]:
import mlrun

In [76]:
project = mlrun.get_or_create_project(
    name="sagemaker-v3", 
    user_project=True,
    parameters={
        # "source" : "git://github.com/mlrun/demo-sagemaker#main",
        "default_image" : "yonishelach/sagemaker-demo"
    }
)

> 2024-02-11 14:25:22,851 [info] Project loaded successfully: {'project_name': 'sagemaker-v3'}

Now that we have the latest version we can import the libraries that we'll use in this notebook

In [4]:
import boto3
import io
import sagemaker
import time
import os
from sklearn.metrics import classification_report
import pandas as pd
import numpy as np
from datetime import datetime, timedelta

sagemaker.config INFO - Not applying SDK defaults from location: /etc/xdg/sagemaker/config.yaml
sagemaker.config INFO - Not applying SDK defaults from location: /home/sagemaker-user/.config/sagemaker/config.yaml

In [5]:
sagemaker_role = os.environ["SAGEMAKER-ROLE"]

In [6]:
sess = sagemaker.Session()
write_bucket = sess.default_bucket()
write_prefix = "sagemaker-app-lab"

Let's set the session variables to ensure that SageMaker is configured correctly.

In [7]:
region = sagemaker.Session().boto_region_name
sm_client = boto3.client("sagemaker")
boto_session = boto3.Session(region_name=region)
sagemaker_session = sagemaker.session.Session(boto_session=boto_session, sagemaker_client=sm_client)
role = sagemaker_role
bucket_prefix = "payment-classification"
s3_bucket = sagemaker_session.default_bucket()

We define the factorize key which is used to map the '__transaction_category__' to numeric values

In [8]:
factorize_key = {
    "Uncategorized": 0,
    "Entertainment": 1,
    "Education": 2,
    "Shopping": 3,
    "Personal Care": 4,
    "Health and Fitness": 5,
    "Food and Dining": 6,
    "Gifts and Donations": 7,
    "Investments": 8,
    "Bills and Utilities": 9,
    "Auto and Transport": 10,
    "Travel": 11,
    "Fees and Charges": 12,
    "Business Services": 13,
    "Personal Services": 14,
    "Taxes": 15,
    "Gambling": 16,
    "Home": 17,
    "Pension and insurances": 18,
}

### 2. Data preparation <a class="anchor" id="Data-preparation"></a>

We ingest the simulated data from the public SageMaker S3 training database:

In [9]:
s3 = boto3.client("s3")
s3.download_file(
    f"sagemaker-example-files-prod-{region}",
    "datasets/tabular/synthetic_financial/financial_transactions_mini.csv",
    "financial_transactions_mini.csv",
)

Let's start by loading the dataset from our csv file into a Pandas dataframe

In [10]:
data = pd.read_csv(
    "financial_transactions_mini.csv",
    parse_dates=["timestamp"],
    infer_datetime_format=True,
    dtype={"transaction_category": "string"},
)

The dataframe looks as follows:

| | transaction_category | receiver_id | sender_id | amount | timestamp |
|------:|:-----------------------|-----------------:|-----------------:|---------:|:--------------------|
| 39733 | Shopping | 4258863736072564 | 4630246970548037 | 91.58 | 2021-03-10 01:28:23 |
| 27254 | Shopping | 4356269497886716 | 4752313573239323 | 115.17 | 2021-01-22 23:28:24 |
| 30628 | Shopping | 4233636409552058 | 4635766441812956 | 90.98 | 2021-02-05 03:24:10 |
| 46614 | Shopping | 4054967431278644 | 4823810986511227 | 86.74 | 2021-04-02 14:42:45 |
| 37957 | Shopping | 4831814582525664 | 4254514582909482 | 123.27 | 2021-03-17 11:17:18 |
| 46878 | Shopping | 4425943481448900 | 4349267977109013 | 65.53 | 2021-03-17 15:47:49 |
| 81350 | Auto and Transport | 4146116413442105 | 4062723166078919 | 91.67 | 2021-03-29 13:23:44 |
| 10613 | Entertainment | 4788727923958282 | 4485838385631386 | 76.22 | 2021-02-11 17:45:53 |
| 46715 | Shopping | 4702782703461430 | 4944181591271506 | 86.67 | 2021-03-20 15:37:17 |
| 69110 | Investments | 4180233446952120 | 4702069426390603 | 530.39 | 2021-04-21 08:28:13 |

In [11]:
from utils import update_timestamps
data=update_timestamps(data)
data

,transaction_category,receiver_id,sender_id,amount,timestamp
0,Uncategorized,4518551904499919,4333582346477646,833.26,2024-01-08 08:38:24.016496
1,Uncategorized,4518551904499919,4642413144038776,596.63,2023-12-12 06:34:14.016496
2,Uncategorized,4274544022939522,4952665515556751,176.76,2023-12-22 07:10:14.016496
3,Uncategorized,4518551904499919,4457298962882528,879.78,2024-02-07 04:55:01.016496
4,Uncategorized,4601853246125220,4578126462896710,742.25,2024-02-02 04:30:58.016496
...,...,...,...,...,...
99992,Pension and insurances,4405008355220324,4583355906735225,205.43,2024-02-18 01:04:35.016496
99993,Pension and insurances,4300416744511335,4949240916846171,151.49,2024-01-22 08:11:00.016496
99994,Pension and insurances,4405008355220324,4996896020767264,188.28,2024-01-06 08:31:52.016496
99995,Pension and insurances,4262047194499006,4017367486513464,204.26,2023-12-15 12:05:49.016496
99996,Pension and insurances,4627516674144704,4250420705087194,207.92,2024-02-11 13:22:42.016496

Next, we extract the year, month, day, hour, minute, second from the timestamp and remove the timestamp

In [12]:
data['transaction_id']= data.reset_index().index

### 3. Create feature store <a class="anchor" id="Create-feature-store"></a>

To enrich dataset we will use the [Feature Store](https://aws.amazon.com/sagemaker/feature-store/).

#### feature-group-payment-classification

In [13]:
# move category to the first column to match sagemaker label train convention"
def pop_and_move_to_start(d, key):
    # Pop the item if it exists, otherwise return None
    value = d.pop(key, None)
    if value is not None:
        # Move the popped item to the start
        d = {key: value, **d}
    return d

def calculate_category_distance(event):    
    column_name ='transaction_category_mapped'
    #print(type(event))
    #print(event)
    event = pop_and_move_to_start(event,column_name)
    #print(event)
    category = event[column_name]
    #event[category+'distance'] = abs(event['amount']-event[category+'_avg_1d'])
    event['distance'] = abs(event['amount']/2)
    
    return event

In [14]:
import mlrun.feature_store as fstore
from mlrun.feature_store.steps import OneHotEncoder, MapValues, DateExtractor, DropFeatures

# Define and add value mapping
main_categories = list(factorize_key.keys())

#main_categories = part_categories

# One Hot Encode the newly defined mappings
#one_hot_encoder_mapping = {'transaction_category': main_categories}

# creating feature set
extended_transactions_set = fstore.FeatureSet("transactions",
                                 entities=[fstore.Entity("transaction_id")],
                                 description="transactions feature set")
# setting up the graph
extended_transactions_set.graph \
    .to(DateExtractor(parts = ['year', 'month', 'day', 'hour','minute','second'], timestamp_col = 'timestamp')) \
    .to(MapValues({'transaction_category' : factorize_key}, with_original_features=True)) \

extended_transactions_set.add_aggregation(name='amount',column='amount',operations=['avg'],windows=['1d'],period='1h')

extended_transactions_set.graph \
    .to(name="calculate_category_distance", handler="calculate_category_distance").after_step('Aggregates') \
    .to(DropFeatures(features=['timestamp','transaction_category']))


extended_transactions_set.set_targets()

extended_transactions_set.plot(rankdir="LR", with_targets=True)

In [15]:
# Keeping every second row
df_kept = data.iloc[::2]

# Or, to explicitly remove every second row (the opposite selection)
df_removed = data.drop(data.index[::2])


# Keeping every second row
df_kept = df_removed.iloc[::2]

# Or, to explicitly remove every second row (the opposite selection)
df_removed_v2 = df_removed.drop(df_removed.index[::2])

df_removed_v2

,transaction_category,receiver_id,sender_id,amount,timestamp,transaction_id
3,Uncategorized,4518551904499919,4457298962882528,879.78,2024-02-07 04:55:01.016496,3
7,Uncategorized,4757951915669080,4655296518888015,801.22,2023-12-10 07:27:23.016496,7
11,Uncategorized,4518551904499919,4910949333064003,423.31,2024-01-17 00:58:55.016496,11
15,Uncategorized,4518551904499919,4415760195692405,382.73,2023-11-20 07:51:25.016496,15
19,Uncategorized,4098088980692974,4412940106031926,111.77,2023-11-06 04:33:31.016496,19
...,...,...,...,...,...,...
99979,Pension and insurances,4179606860088849,4359198069543354,302.10,2024-01-09 20:29:31.016496,99979
99983,Pension and insurances,4751538620733305,4021524999937895,115.89,2024-02-05 06:43:16.016496,99983
99987,Pension and insurances,4405008355220324,4165276502284291,207.08,2023-12-14 14:17:04.016496,99987
99991,Pension and insurances,4092115788877543,4328901131757235,355.58,2024-02-20 07:35:41.016496,99991
99995,Pension and insurances,4262047194499006,4017367486513464,204.26,2023-12-15 12:05:49.016496,99995

In [16]:
from utils import update_timestamps
df_removed_v2=update_timestamps(df_removed_v2)
df_removed_v2

,transaction_category,receiver_id,sender_id,amount,timestamp,transaction_id
3,Uncategorized,4518551904499919,4457298962882528,879.78,2024-04-05 06:11:54.114091,3
7,Uncategorized,4757951915669080,4655296518888015,801.22,2024-02-06 08:44:16.114091,7
11,Uncategorized,4518551904499919,4910949333064003,423.31,2024-03-15 02:15:48.114091,11
15,Uncategorized,4518551904499919,4415760195692405,382.73,2024-01-17 09:08:18.114091,15
19,Uncategorized,4098088980692974,4412940106031926,111.77,2024-01-03 05:50:24.114091,19
...,...,...,...,...,...,...
99979,Pension and insurances,4179606860088849,4359198069543354,302.10,2024-03-07 21:46:24.114091,99979
99983,Pension and insurances,4751538620733305,4021524999937895,115.89,2024-04-03 08:00:09.114091,99983
99987,Pension and insurances,4405008355220324,4165276502284291,207.08,2024-02-10 15:33:57.114091,99987
99991,Pension and insurances,4092115788877543,4328901131757235,355.58,2024-04-18 08:52:34.114091,99991
99995,Pension and insurances,4262047194499006,4017367486513464,204.26,2024-02-11 13:22:42.114091,99995

In [17]:
ingested_data = extended_transactions_set.ingest(df_removed_v2, overwrite=True)
ingested_data

> 2024-02-11 13:22:52,204 [warning] Overriding type of entity 'transaction_id' from 'str' to 'int'. This may result in errors or unusable data.

,transaction_category_mapped,amount_avg_1d,receiver_id,sender_id,amount,timestamp_year,timestamp_month,timestamp_day,timestamp_hour,timestamp_minute,timestamp_second,distance
transaction_id,,,,,,,,,,,,
3,0,879.78,4518551904499919,4457298962882528,879.78,2024,4,5,6,11,54,439.890
7,0,801.22,4757951915669080,4655296518888015,801.22,2024,2,6,8,44,16,400.610
11,0,423.31,4518551904499919,4910949333064003,423.31,2024,3,15,2,15,48,211.655
15,0,382.73,4518551904499919,4415760195692405,382.73,2024,1,17,9,8,18,191.365
19,0,111.77,4098088980692974,4412940106031926,111.77,2024,1,3,5,50,24,55.885
...,...,...,...,...,...,...,...,...,...,...,...,...
99979,18,302.10,4179606860088849,4359198069543354,302.10,2024,3,7,21,46,24,151.050
99983,18,115.89,4751538620733305,4021524999937895,115.89,2024,4,3,8,0,9,57.945
99987,18,207.08,4405008355220324,4165276502284291,207.08,2024,2,10,15,33,57,103.540
99991,18,355.58,4092115788877543,4328901131757235,355.58,2024,4,18,8,52,34,177.790
99995,18,204.26,4262047194499006,4017367486513464,204.26,2024,2,11,13,22,42,102.130

In [18]:
#data = ingested_data.reset_index(drop=True)
data = ingested_data
#data = data[['transaction_category'] + [col for col in data.columns if col != 'transaction_category']]
data

,transaction_category_mapped,amount_avg_1d,receiver_id,sender_id,amount,timestamp_year,timestamp_month,timestamp_day,timestamp_hour,timestamp_minute,timestamp_second,distance
transaction_id,,,,,,,,,,,,
3,0,879.78,4518551904499919,4457298962882528,879.78,2024,4,5,6,11,54,439.890
7,0,801.22,4757951915669080,4655296518888015,801.22,2024,2,6,8,44,16,400.610
11,0,423.31,4518551904499919,4910949333064003,423.31,2024,3,15,2,15,48,211.655
15,0,382.73,4518551904499919,4415760195692405,382.73,2024,1,17,9,8,18,191.365
19,0,111.77,4098088980692974,4412940106031926,111.77,2024,1,3,5,50,24,55.885
...,...,...,...,...,...,...,...,...,...,...,...,...
99979,18,302.10,4179606860088849,4359198069543354,302.10,2024,3,7,21,46,24,151.050
99983,18,115.89,4751538620733305,4021524999937895,115.89,2024,4,3,8,0,9,57.945
99987,18,207.08,4405008355220324,4165276502284291,207.08,2024,2,10,15,33,57,103.540
99991,18,355.58,4092115788877543,4328901131757235,355.58,2024,4,18,8,52,34,177.790
99995,18,204.26,4262047194499006,4017367486513464,204.26,2024,2,11,13,22,42,102.130

In [19]:
data_cols = list(data.columns)
data_cols

['transaction_category_mapped',
 'amount_avg_1d',
 'receiver_id',
 'sender_id',
 'amount',
 'timestamp_year',
 'timestamp_month',
 'timestamp_day',
 'timestamp_hour',
 'timestamp_minute',
 'timestamp_second',
 'distance']

In [20]:
# Import MLRun's Feature Store
import mlrun.feature_store as fstore

# create feature vector on top of aggreagations
# Define the list of features we will be using
features = [f"transactions.{name}" for name in data_cols[1:]] 


# Define the feature vector name for future reference
fv_name = 'transactions-vector'

# Define the feature vector using our Feature Store (fstore)
transactions_fv = fstore.FeatureVector(fv_name, 
                          features,
                          label_feature='transactions.transaction_category_mapped',
                          description='stocks information')

#label_feature = 'transactions-v2.transaction_category',
# Save the feature vector in the Feature Store
transactions_fv.save()

In [21]:
import mlrun.feature_store as fs
resp = transactions_fv.get_offline_features()
#Preview the dataset
fv_data = resp.to_dataframe()
fv_data

,amount_avg_1d,receiver_id,sender_id,amount,timestamp_year,timestamp_month,timestamp_day,timestamp_hour,timestamp_minute,timestamp_second,distance,transaction_category_mapped
0,879.78,4518551904499919,4457298962882528,879.78,2024,4,5,6,11,54,439.890,0
1,801.22,4757951915669080,4655296518888015,801.22,2024,2,6,8,44,16,400.610,0
2,423.31,4518551904499919,4910949333064003,423.31,2024,3,15,2,15,48,211.655,0
3,382.73,4518551904499919,4415760195692405,382.73,2024,1,17,9,8,18,191.365,0
4,111.77,4098088980692974,4412940106031926,111.77,2024,1,3,5,50,24,55.885,0
...,...,...,...,...,...,...,...,...,...,...,...,...
24994,302.10,4179606860088849,4359198069543354,302.10,2024,3,7,21,46,24,151.050,18
24995,115.89,4751538620733305,4021524999937895,115.89,2024,4,3,8,0,9,57.945,18
24996,207.08,4405008355220324,4165276502284291,207.08,2024,2,10,15,33,57,103.540,18
24997,355.58,4092115788877543,4328901131757235,355.58,2024,4,18,8,52,34,177.790,18
24998,204.26,4262047194499006,4017367486513464,204.26,2024,2,11,13,22,42,102.130,18

In [22]:
svc = transactions_fv.get_online_feature_service()
resp = svc.get([{"transaction_id": "24995"}])
resp

[{'amount_avg_1d': 10.45,
  'receiver_id': 4365439229004487,
  'sender_id': 4895135853273971,
  'amount': 10.45,
  'timestamp_year': 2024,
  'timestamp_month': 3,
  'timestamp_day': 20,
  'timestamp_hour': 5,
  'timestamp_minute': 57,
  'timestamp_second': 11,
  'distance': 5.225}]

In [23]:
svc = transactions_fv.get_online_feature_service()
resp = svc.get([{"transaction_id": "24995"}],as_list=True)
resp

[[10.45,
  4365439229004487,
  4895135853273971,
  10.45,
  2024,
  3,
  20,
  5,
  57,
  11,
  5.225]]

We update the values in the feature store with the real values of our data

And display them after getting them from the feature store

We use the feature store to calculate the distance between the average of every category and the current amount

### 4. Create model <a class="anchor" id="Create-model"></a>
In this notebook we will be using the [Extreme Gradient Boosting](https://docs.aws.amazon.com/sagemaker/latest/dg/xgboost.html) (XGBoost) implementation of the gradient boosted trees algorithm. This model is selected due to it relatively fast training time and explainable properties. The model can be substituted at will a different [SageMaker estimator](https://sagemaker.readthedocs.io/en/stable/api/training/estimators.html) or a [model of your choosing](https://aws.amazon.com/blogs/machine-learning/bring-your-own-model-with-amazon-sagemaker-script-mode/).



Now that we have the dataset we can start preparing the model. First, we create a training, validation and testing split.

In [24]:
import mlrun.feature_store as fs
resp = transactions_fv.get_offline_features()
#Preview the dataset
fv_data = resp.to_dataframe()

column_to_move = 'transaction_category_mapped'

new_columns_order = [column_to_move] + [col for col in fv_data.columns if col != column_to_move]
fv_data = fv_data[new_columns_order]


data = fv_data
data

,transaction_category_mapped,amount_avg_1d,receiver_id,sender_id,amount,timestamp_year,timestamp_month,timestamp_day,timestamp_hour,timestamp_minute,timestamp_second,distance
0,0,879.78,4518551904499919,4457298962882528,879.78,2024,4,5,6,11,54,439.890
1,0,801.22,4757951915669080,4655296518888015,801.22,2024,2,6,8,44,16,400.610
2,0,423.31,4518551904499919,4910949333064003,423.31,2024,3,15,2,15,48,211.655
3,0,382.73,4518551904499919,4415760195692405,382.73,2024,1,17,9,8,18,191.365
4,0,111.77,4098088980692974,4412940106031926,111.77,2024,1,3,5,50,24,55.885
...,...,...,...,...,...,...,...,...,...,...,...,...
24994,18,302.10,4179606860088849,4359198069543354,302.10,2024,3,7,21,46,24,151.050
24995,18,115.89,4751538620733305,4021524999937895,115.89,2024,4,3,8,0,9,57.945
24996,18,207.08,4405008355220324,4165276502284291,207.08,2024,2,10,15,33,57,103.540
24997,18,355.58,4092115788877543,4328901131757235,355.58,2024,4,18,8,52,34,177.790
24998,18,204.26,4262047194499006,4017367486513464,204.26,2024,2,11,13,22,42,102.130

In [25]:
# Randomly sort the data then split out first 70%, second 20%, and last 10%
train_data, validation_data, test_data = np.split(
    fv_data.sample(frac=1, random_state=42), [int(0.7 * len(fv_data)), int(0.9 * len(fv_data))]
)

We save these sets to a file.

In [26]:
train_data.to_csv("train.csv", index=False, header=False)
validation_data.to_csv("validation.csv", index=False, header=False)
test_data.to_csv("test.csv", index=False, header=True)

And upload these files to our s3 bucket

In [27]:
boto3.Session().resource("s3").Bucket(s3_bucket).Object(
    os.path.join(bucket_prefix, "train/train.csv")
).upload_file("train.csv")
boto3.Session().resource("s3").Bucket(s3_bucket).Object(
    os.path.join(bucket_prefix, "validation/validation.csv")
).upload_file("validation.csv")
boto3.Session().resource("s3").Bucket(s3_bucket).Object(
    os.path.join(bucket_prefix, "test/test.csv")
).upload_file("test.csv")

Get the XGBoost sagemaker image

In [28]:
container = sagemaker.image_uris.retrieve(region=region, framework="xgboost", version="1.2-2")

Transform our data to a sagemaker input for training

In [29]:
s3_input_train = sagemaker.inputs.TrainingInput(
    s3_data="s3://{}/{}/train".format(s3_bucket, bucket_prefix), content_type="csv"
)
s3_input_validation = sagemaker.inputs.TrainingInput(
    s3_data="s3://{}/{}/validation/".format(s3_bucket, bucket_prefix), content_type="csv"
)

We define the XGBoost model

In [30]:
xgb = sagemaker.estimator.Estimator(
    container,
    role,
    instance_count=1,
    instance_type="ml.m4.xlarge",
    output_path="s3://{}/{}/output".format(s3_bucket, bucket_prefix),
    sagemaker_session=sagemaker_session,
)

Set the parameters

In [31]:
xgb.set_hyperparameters(
    max_depth=5,
    eta=0.2,
    gamma=4,
    min_child_weight=6,
    subsample=0.8,
    objective="multi:softprob",
    num_class=19,
    verbosity=0,
    num_round=100,
)

And train the model

In [32]:
xgb.fit({"train": s3_input_train, "validation": s3_input_validation})

INFO:sagemaker:Creating training-job with name: sagemaker-xgboost-2024-02-11-13-24-31-606

2024-02-11 13:24:31 Starting - Starting the training job...
2024-02-11 13:24:45 Starting - Preparing the instances for training......
2024-02-11 13:25:57 Downloading - Downloading input data...
2024-02-11 13:26:31 Downloading - Downloading the training image......
2024-02-11 13:27:27 Training - Training image download completed. Training in progress....
2024-02-11 13:28:02 Uploading - Uploading generated training model[2024-02-11 13:27:38.372 ip-10-0-187-204.us-east-2.compute.internal:7 INFO utils.py:27] RULE_JOB_STOP_SIGNAL_FILENAME: None
[2024-02-11:13:27:38:INFO] Imported framework sagemaker_xgboost_container.training
[2024-02-11:13:27:38:INFO] Failed to parse hyperparameter objective value multi:softprob to Json.
Returning the value itself
[2024-02-11:13:27:38:INFO] No GPUs detected (normal if no gpus installed)
[2024-02-11:13:27:38:INFO] Running XGBoost Sagemaker in algorithm mode
[2024-02-11:13:27:38:INFO] Determined delimiter of CSV input is ','
[2024-02-11:13:27:38:INFO] Determined delimiter of CSV input is ','
[2024-02-11:13:27:38:INFO] Determined delimiter of CSV input is ','
[2024-02-11:13:27:38:INFO] Determined delimiter of CSV input is ','
[2024-02-11:13:27:38:INFO] Single node training.
[2024-02-11:13:27:38:INFO] Train matrix has 17499 rows and 11 columns
[2024-02-11:13:27:38:INFO] Validation matrix has 5000 rows
[2024-02-11 13:27:38.503 ip-10-0-187-204.us-east-2.compute.internal:7 INFO json_config.py:91] Creating hook from json_config at /opt/ml/input/config/debughookconfig.json.
[2024-02-11 13:27:38.504 ip-10-0-187-204.us-east-2.compute.internal:7 INFO hook.py:201] tensorboard_dir has not been set for the hook. SMDebug will not be exporting tensorboard summaries.
[2024-02-11 13:27:38.505 ip-10-0-187-204.us-east-2.compute.internal:7 INFO profiler_config_parser.py:102] User has disabled profiler.
[2024-02-11 13:27:38.505 ip-10-0-187-204.us-east-2.compute.internal:7 INFO hook.py:255] Saving to /opt/ml/output/tensors
[2024-02-11 13:27:38.506 ip-10-0-187-204.us-east-2.compute.internal:7 INFO state_store.py:77] The checkpoint config file /opt/ml/input/config/checkpointconfig.json does not exist.
[2024-02-11:13:27:38:INFO] Debug hook created from config
[0]#011train-merror:0.55820#011validation-merror:0.58340
[2024-02-11 13:27:38.726 ip-10-0-187-204.us-east-2.compute.internal:7 INFO hook.py:423] Monitoring the collections: metrics
[2024-02-11 13:27:38.729 ip-10-0-187-204.us-east-2.compute.internal:7 INFO hook.py:486] Hook is writing from the hook with pid: 7
[1]#011train-merror:0.54935#011validation-merror:0.57620
[2]#011train-merror:0.53712#011validation-merror:0.56500
[3]#011train-merror:0.52723#011validation-merror:0.55580
[4]#011train-merror:0.52312#011validation-merror:0.54980
[5]#011train-merror:0.51586#011validation-merror:0.54260
[6]#011train-merror:0.50992#011validation-merror:0.53440
[7]#011train-merror:0.50723#011validation-merror:0.53080
[8]#011train-merror:0.49729#011validation-merror:0.52640
[9]#011train-merror:0.49163#011validation-merror:0.52160
[10]#011train-merror:0.48740#011validation-merror:0.51680
[11]#011train-merror:0.48146#011validation-merror:0.51300
[12]#011train-merror:0.47597#011validation-merror:0.50720
[13]#011train-merror:0.47151#011validation-merror:0.50540
[14]#011train-merror:0.46208#011validation-merror:0.49700
[15]#011train-merror:0.45917#011validation-merror:0.49240
[16]#011train-merror:0.45363#011validation-merror:0.49120
[17]#011train-merror:0.44460#011validation-merror:0.48360
[18]#011train-merror:0.44134#011validation-merror:0.47800
[19]#011train-merror:0.43745#011validation-merror:0.47400
[20]#011train-merror:0.43420#011validation-merror:0.47180
[21]#011train-merror:0.42848#011validation-merror:0.46740
[22]#011train-merror:0.42100#011validation-merror:0.46000
[23]#011train-merror:0.41385#011validation-merror:0.45320
[24]#011train-merror:0.40894#011validation-merror:0.45100
[25]#011train-merror:0.40339#011validation-merror:0.44400
[26]#011train-merror:0.39734#011validation-merror:0.43880
[27]#011train-merror:0.39105#011validation-merror:0.43260
[28]#011train-merror:0.38871#011validation-merror:0.42860
[29]#011train-merror:0.38511#011validation-merror:0.42520
[30]#011train-merror:0.38356#011validation-merror:0.42420
[31]#011train-merror:0.37608#011validation-merror:0.41720
[32]#011train-merror:0.36973#011validation-merror:0.41240
[33]#011train-merror:0.36471#011validation-merror:0.40640
[34]#011train-merror:0.36271#011validation-merror:0.40500
[35]#011train-merror:0.35882#011validation-merror:0.40200
[36]#011train-merror:0.35791#011validation-merror:0.40060
[37]#011train-merror:0.35253#011validation-merror:0.39520
[38]#011train-merror:0.34796#011validation-merror:0.39300
[39]#011train-merror:0.34722#011validation-merror:0.39180
[40]#011train-merror:0.34482#011validation-merror:0.39040
[41]#011train-merror:0.34196#011validation-merror:0.38640
[42]#011train-merror:0.33910#011validation-merror:0.38160
[43]#011train-merror:0.33465#011validation-merror:0.37620
[44]#011train-merror:0.33179#011validation-merror:0.37440
[45]#011train-merror:0.32893#011validation-merror:0.37380
[46]#011train-merror:0.32533#011validation-merror:0.37220
[47]#011train-merror:0.32333#011validation-merror:0.37080
[48]#011train-merror:0.31842#011validation-merror:0.36740
[49]#011train-merror:0.31476#011validation-merror:0.36140
[50]#011train-merror:0.31145#011validation-merror:0.35800
[51]#011train-merror:0.30973#011validation-merror:0.35640
[52]#011train-merror:0.30642#011validation-merror:0.35560
[53]#011train-merror:0.30476#011validation-merror:0.35540
[54]#011train-merror:0.30299#011validation-merror:0.35300
[55]#011train-merror:0.30133#011validation-merror:0.35160
[56]#011train-merror:0.29945#011validation-merror:0.34920
[57]#011train-merror:0.29545#011validation-merror:0.34740
[58]#011train-merror:0.29185#011validation-merror:0.34100
[59]#011train-merror:0.29013#011validation-merror:0.33840
[60]#011train-merror:0.28670#011validation-merror:0.33640
[61]#011train-merror:0.28047#011validation-merror:0.33180
[62]#011train-merror:0.27927#011validation-merror:0.33040
[63]#011train-merror:0.27584#011validation-merror:0.32720
[64]#011train-merror:0.27264#011validation-merror:0.32340
[65]#011train-merror:0.26773#011validation-merror:0.31760
[66]#011train-merror:0.26459#011validation-merror:0.31400
[67]#011train-merror:0.26407#011validation-merror:0.31340
[68]#011train-merror:0.26219#011validation-merror:0.31160
[69]#011train-merror:0.25899#011validation-merror:0.30900
[70]#011train-merror:0.25727#011validation-merror:0.30800
[71]#011train-merror:0.25533#011validation-merror:0.30580
[72]#011train-merror:0.25350#011validation-merror:0.30440
[73]#011train-merror:0.25310#011validation-merror:0.30260
[74]#011train-merror:0.25001#011validation-merror:0.29880
[75]#011train-merror:0.24653#011validation-merror:0.29380
[76]#011train-merror:0.24350#011validation-merror:0.29340
[77]#011train-merror:0.24104#011validation-merror:0.29100
[78]#011train-merror:0.23824#011validation-merror:0.28880
[79]#011train-merror:0.23681#011validation-merror:0.28700
[80]#011train-merror:0.23367#011validation-merror:0.28320
[81]#011train-merror:0.23219#011validation-merror:0.28320
[82]#011train-merror:0.23104#011validation-merror:0.28120
[83]#011train-merror:0.22939#011validation-merror:0.27940
[84]#011train-merror:0.22830#011validation-merror:0.27800
[85]#011train-merror:0.22738#011validation-merror:0.27700
[86]#011train-merror:0.22647#011validation-merror:0.27640
[87]#011train-merror:0.22618#011validation-merror:0.27560
[88]#011train-merror:0.22464#011validation-merror:0.27580
[89]#011train-merror:0.22310#011validation-merror:0.27140
[90]#011train-merror:0.22093#011validation-merror:0.27080
[91]#011train-merror:0.22007#011validation-merror:0.26900
[92]#011train-merror:0.21796#011validation-merror:0.26780
[93]#011train-merror:0.21681#011validation-merror:0.26580
[94]#011train-merror:0.21590#011validation-merror:0.26480
[95]#011train-merror:0.21350#011validation-merror:0.26280
[96]#011train-merror:0.21001#011validation-merror:0.26200
[97]#011train-merror:0.20744#011validation-merror:0.25940
[98]#011train-merror:0.20601#011validation-merror:0.25780
[99]#011train-merror:0.20481#011validation-merror:0.25620

2024-02-11 13:28:18 Completed - Training job completed
Training seconds: 142
Billable seconds: 142

### 5. Using the endpoint <a class="anchor" id="Using-the-endpoint"></a>

Deploy the model to an endpoint

In [33]:
xgb.model_data

's3://sagemaker-us-east-2-934638699319/payment-classification/output/sagemaker-xgboost-2024-02-11-13-24-31-606/output/model.tar.gz'

In [41]:
serving_function = project.get_function("serving")

In [60]:
serving_function_v2 = project.set_function(
        func="src/functions/serving.py",
        name="serving-v2",
        kind="serving",
)

In [61]:
graph = serving_function_v2.set_topology(
    "router",
    mlrun.serving.routers.EnrichmentModelRouter(
        feature_vector_uri=transactions_fv.uri,
        impute_policy={"*": "$mean"}),
)
serving_function_v2.add_model("xgboost-model", class_name="XGBModelServer", model_path=xgb.model_data)

# Plot the ensemble configuration
serving_function_v2.spec.graph.plot()

In [63]:
server = serving_function_v2.to_mock_server()

> 2024-02-11 14:19:33,242 [info] model xgboost-model was loaded
> 2024-02-11 14:19:33,243 [info] Loaded ['xgboost-model']

In [64]:
response = server.test(body={'inputs':[[24995]]})
response

{'inputs': [[10.45, 4365439229004487, 4895135853273971, 10.45, 2024, 3, 20, 5, 57, 11, 5.225]]}

{'id': '4674ea5dbf944924b1b17c6fba1fb6e9',
 'model_name': 'xgboost-model',
 'outputs': [[0.0007725695031695068,
   0.18554285168647766,
   0.0005761922220699489,
   0.421852707862854,
   0.007665876764804125,
   0.012660829350352287,
   0.22086532413959503,
   0.026935890316963196,
   0.0004489392740651965,
   0.0073969378136098385,
   0.08978493511676788,
   0.0005328097031451762,
   0.020548472180962563,
   0.0011180019937455654,
   0.0005254872958175838,
   0.00045757496263831854,
   0.0003292290784884244,
   0.0009559299796819687,
   0.0010294184321537614]]}

In [65]:
project.deploy_function("serving-v2")

> 2024-02-11 14:20:02,832 [info] Starting remote function deploy
2024-02-11 14:20:03  (info) Deploying function
2024-02-11 14:20:03  (info) Building
2024-02-11 14:20:03  (info) Staging files and preparing base images
2024-02-11 14:20:03  (info) Building processor image
2024-02-11 14:21:09  (info) Build complete
2024-02-11 14:21:17  (info) Function deploy complete
> 2024-02-11 14:21:24,362 [info] Successfully deployed function: {'internal_invocation_urls': ['nuclio-sagemaker-v3-admin-serving-v2.default-tenant.svc.cluster.local:8080'], 'external_invocation_urls': ['sagemaker-v3-admin-serving-v2-sagemaker-v3-admin.default-tenant.app.cust-cs-il-353.iguazio-cd2.com/']}

DeployStatus(state=ready, outputs={'endpoint': 'http://sagemaker-v3-admin-serving-v2-sagemaker-v3-admin.default-tenant.app.cust-cs-il-353.iguazio-cd2.com/', 'name': 'sagemaker-v3-admin-serving-v2'})

In [ ]:
#samples = test_data.drop('transaction_category',axis=1)[:500].values.tolist()

In [66]:
serving_function_v2 = project.get_function("serving-v2")

In [70]:
response = serving_function_v2.invoke(path='/v2/models/xgboost-model/predict', body={"inputs": [[24995]]})

> 2024-02-11 14:22:55,332 [info] Invoking function: {'method': 'POST', 'path': 'http://sagemaker-v3-admin-serving-v2-sagemaker-v3-admin.default-tenant.app.cust-cs-il-353.iguazio-cd2.com//v2/models/xgboost-model/predict'}

In [71]:
response

{'id': '56b180c3-2e57-4bae-89cb-92b2c31f5c9b',
 'model_name': 'xgboost-model',
 'outputs': [[0.0007725695031695068,
   0.18554285168647766,
   0.0005761922220699489,
   0.421852707862854,
   0.007665876764804125,
   0.012660829350352287,
   0.22086532413959503,
   0.026935890316963196,
   0.0004489392740651965,
   0.0073969378136098385,
   0.08978493511676788,
   0.0005328097031451762,
   0.020548472180962563,
   0.0011180019937455654,
   0.0005254872958175838,
   0.00045757496263831854,
   0.0003292290784884244,
   0.0009559299796819687,
   0.0010294184321537614]]}

### 6. Evaluate performance <a class="anchor" id="Evaluate-performance"></a>

Run the model on our test data

In [77]:
s3_data = "s3://{}/{}/test/test.csv".format(s3_bucket, bucket_prefix)

Add the evaluation function to our project

In [78]:
evaluate_function = project.get_function("evaluate")

Run the evaluation job

In [79]:
evaluate_run = evaluate_function.run(
    handler="evaluate",
    params={
        "model_path": xgb.model_data,
        "model_name": "xgboost-model",
        "test_set": s3_data,
        "label_column": "transaction_category_mapped",
        "factorize_key": factorize_key,
    },
    returns=["classification_report: dataset"])

> 2024-02-11 14:25:34,435 [info] Storing function: {'name': 'evaluate-evaluate', 'uid': '4e422c0c56c049469ee777c86b3bde01', 'db': 'https://mlrun-api.default-tenant.app.cust-cs-il-353.iguazio-cd2.com'}
> 2024-02-11 14:25:34,785 [info] Job is running in the background, pod: evaluate-evaluate-ppcb5
[14:25:39] WARNING: /workspace/src/common/error_msg.h:80: If you are loading a serialized model (like pickle in Python, RDS in R) or
configuration generated by an older version of XGBoost, please export the model by calling
`Booster.save_model` from that version first, then load it back in current version. See:

    https://xgboost.readthedocs.io/en/stable/tutorials/saving_model.html

for more details about differences between saving model and serializing.

> 2024-02-11 14:25:39,434 [info] To track results use the CLI: {'info_cmd': 'mlrun get run 4e422c0c56c049469ee777c86b3bde01 -p sagemaker-v3-admin', 'logs_cmd': 'mlrun logs 4e422c0c56c049469ee777c86b3bde01 -p sagemaker-v3-admin'}
> 2024-02-11 14:25:39,434 [info] Or click for UI: {'ui_url': 'https://dashboard.default-tenant.app.cust-cs-il-353.iguazio-cd2.com/mlprojects/sagemaker-v3-admin/jobs/monitor/4e422c0c56c049469ee777c86b3bde01/overview'}
> 2024-02-11 14:25:39,435 [info] Run execution finished: {'status': 'completed', 'name': 'evaluate-evaluate'}

> 2024-02-11 14:25:45,077 [info] Run execution finished: {'status': 'completed', 'name': 'evaluate-evaluate'}

See the evaluation result

In [80]:
evaluate_run.artifact("classification_report").as_df()

                        precision    recall  f1-score    support
Uncategorized            0.833333  0.625000  0.714286     8.0000
Entertainment            0.680995  0.831492  0.748756   362.0000
Education                0.923077  0.857143  0.888889    14.0000
Shopping                 0.710200  0.866279  0.780513   860.0000
Personal Care            0.880000  0.956522  0.916667    23.0000
Health and Fitness       0.875000  0.569106  0.689655   123.0000
Food and Dining          0.845161  0.603687  0.704301   217.0000
Gifts and Donations      0.738095  0.455882  0.563636    68.0000
Investments              1.000000  0.909091  0.952381    22.0000
Bills and Utilities      0.935484  0.630435  0.753247    92.0000
Auto and Transport       0.758373  0.667368  0.709966   475.0000
Travel                   0.833333  0.694444  0.757576    36.0000
Fees and Charges         1.000000  0.827586  0.905660    29.0000
Business Services        0.969697  0.680851  0.800000    47.0000
Personal Services        0.894737  0.708333  0.790698    24.0000
Taxes                    0.900000  0.692308  0.782609    13.0000
Gambling                 1.000000  0.750000  0.857143     8.0000
Home                     0.886364  0.750000  0.812500    52.0000
Pension and insurances   0.863636  0.703704  0.775510    27.0000
accuracy                 0.753200  0.753200  0.753200     0.7532
macro avg                0.869868  0.725223  0.784421  2500.0000
weighted avg             0.768715  0.753200  0.750136  2500.0000

You should see results similar to this:

```
                        precision    recall  f1-score   support

         Uncategorized       1.00      0.92      0.96        51
         Entertainment       0.81      0.89      0.85      1486
             Education       1.00      0.94      0.97        80
              Shopping       0.86      0.94      0.90      3441
         Personal Care       1.00      0.98      0.99       132
    Health and Fitness       0.99      0.89      0.94       443
       Food and Dining       0.99      0.82      0.90       918
   Gifts and Donations       1.00      0.95      0.97       275
           Investments       0.99      0.97      0.98        88
   Bills and Utilities       1.00      0.99      1.00       332
    Auto and Transport       0.94      0.84      0.88      1967
                Travel       0.96      0.84      0.90       120
      Fees and Charges       1.00      0.94      0.97       106
     Business Services       1.00      0.99      1.00       146
     Personal Services       1.00      0.96      0.98        75
                 Taxes       0.98      0.94      0.96        47
              Gambling       1.00      1.00      1.00        15
                  Home       0.98      0.89      0.93       168
Pension and insurances       0.99      1.00      1.00       110

              accuracy                           0.90     10000
             macro avg       0.97      0.93      0.95     10000
          weighted avg       0.91      0.90      0.90     10000
```

### 7. Clean up <a class="anchor" id="Clean-up"></a>

Remove the feature group and endpoint to clean up

In [ ]:
#feature_group.delete()
#xgb_predictor.delete_endpoint(delete_endpoint_config=True)

## Notebook CI Test Results

This notebook was tested in multiple regions. The test results are as follows, except for us-west-2 which is shown at the top of the notebook.

![This us-east-1 badge failed to load. Check your device's internet connectivity, otherwise the service is currently unavailable](https://prod.us-west-2.tcx-beacon.docs.aws.dev/sagemaker-nb/us-east-1/use-cases|financial_payment_classification|financial_payment_classification.ipynb)

![This us-east-2 badge failed to load. Check your device's internet connectivity, otherwise the service is currently unavailable](https://prod.us-west-2.tcx-beacon.docs.aws.dev/sagemaker-nb/us-east-2/use-cases|financial_payment_classification|financial_payment_classification.ipynb)

![This us-west-1 badge failed to load. Check your device's internet connectivity, otherwise the service is currently unavailable](https://prod.us-west-2.tcx-beacon.docs.aws.dev/sagemaker-nb/us-west-1/use-cases|financial_payment_classification|financial_payment_classification.ipynb)

![This ca-central-1 badge failed to load. Check your device's internet connectivity, otherwise the service is currently unavailable](https://prod.us-west-2.tcx-beacon.docs.aws.dev/sagemaker-nb/ca-central-1/use-cases|financial_payment_classification|financial_payment_classification.ipynb)

![This sa-east-1 badge failed to load. Check your device's internet connectivity, otherwise the service is currently unavailable](https://prod.us-west-2.tcx-beacon.docs.aws.dev/sagemaker-nb/sa-east-1/use-cases|financial_payment_classification|financial_payment_classification.ipynb)

![This eu-west-1 badge failed to load. Check your device's internet connectivity, otherwise the service is currently unavailable](https://prod.us-west-2.tcx-beacon.docs.aws.dev/sagemaker-nb/eu-west-1/use-cases|financial_payment_classification|financial_payment_classification.ipynb)

![This eu-west-2 badge failed to load. Check your device's internet connectivity, otherwise the service is currently unavailable](https://prod.us-west-2.tcx-beacon.docs.aws.dev/sagemaker-nb/eu-west-2/use-cases|financial_payment_classification|financial_payment_classification.ipynb)

![This eu-west-3 badge failed to load. Check your device's internet connectivity, otherwise the service is currently unavailable](https://prod.us-west-2.tcx-beacon.docs.aws.dev/sagemaker-nb/eu-west-3/use-cases|financial_payment_classification|financial_payment_classification.ipynb)

![This eu-central-1 badge failed to load. Check your device's internet connectivity, otherwise the service is currently unavailable](https://prod.us-west-2.tcx-beacon.docs.aws.dev/sagemaker-nb/eu-central-1/use-cases|financial_payment_classification|financial_payment_classification.ipynb)

![This eu-north-1 badge failed to load. Check your device's internet connectivity, otherwise the service is currently unavailable](https://prod.us-west-2.tcx-beacon.docs.aws.dev/sagemaker-nb/eu-north-1/use-cases|financial_payment_classification|financial_payment_classification.ipynb)

![This ap-southeast-1 badge failed to load. Check your device's internet connectivity, otherwise the service is currently unavailable](https://prod.us-west-2.tcx-beacon.docs.aws.dev/sagemaker-nb/ap-southeast-1/use-cases|financial_payment_classification|financial_payment_classification.ipynb)

![This ap-southeast-2 badge failed to load. Check your device's internet connectivity, otherwise the service is currently unavailable](https://prod.us-west-2.tcx-beacon.docs.aws.dev/sagemaker-nb/ap-southeast-2/use-cases|financial_payment_classification|financial_payment_classification.ipynb)

![This ap-northeast-1 badge failed to load. Check your device's internet connectivity, otherwise the service is currently unavailable](https://prod.us-west-2.tcx-beacon.docs.aws.dev/sagemaker-nb/ap-northeast-1/use-cases|financial_payment_classification|financial_payment_classification.ipynb)

![This ap-northeast-2 badge failed to load. Check your device's internet connectivity, otherwise the service is currently unavailable](https://prod.us-west-2.tcx-beacon.docs.aws.dev/sagemaker-nb/ap-northeast-2/use-cases|financial_payment_classification|financial_payment_classification.ipynb)

![This ap-south-1 badge failed to load. Check your device's internet connectivity, otherwise the service is currently unavailable](https://prod.us-west-2.tcx-beacon.docs.aws.dev/sagemaker-nb/ap-south-1/use-cases|financial_payment_classification|financial_payment_classification.ipynb)