# SageMaker Payment Classification

---

This notebook's CI test result for us-west-2 is as follows. CI test results in other regions can be found at the end of the notebook. 

![This us-west-2 badge failed to load. Check your device's internet connectivity, otherwise the service is currently unavailable](https://prod.us-west-2.tcx-beacon.docs.aws.dev/sagemaker-nb/us-west-2/use-cases|financial_payment_classification|financial_payment_classification.ipynb)

---


## Background <a class="anchor" id="Background"></a>

This notebook demonstrates how you can train and deploy a machine learning model to classify payment transactions. Enriching financial transactions with the category of the transaction. This can be used as an intermediate step in fraud detection, personalization or anomaly detection. As well as a method to provide end users (e.g. customers at a bank) with an overview of their spending habits. Amazon SageMaker can be used to train and deploy a XGBoost model, as well as the required underlying infrastructure. For this notebook a generated dataset is used where a payment consists of mostly an amount, sender, receiver and timestamp.


## Notebook overview <a class="anchor" id="Notebook-overview"></a>

This notebook consists of seven parts. First, we import and configure the required libraries. After that we prepare the data used in this example and create the feature store. With the newly created features we create a XGBoost model. An endpoint is created to host this model. We evaluate the performance of the model and end by cleaning up the used resources.

## Dataset <a class="anchor" id="Dataset"></a>

For this notebook we use a synthetic dataset. This dataset has the following features 

* __transaction_category__: The category of the transaction, this is one of the next 19 options.

               'Uncategorized', 'Entertainment', 'Education',
                    'Shopping', 'Personal Care', 'Health and Fitness',
             'Food and Dining', 'Gifts and Donations', 'Investments',
         'Bills and Utilities', 'Auto and Transport', 'Travel',
            'Fees and Charges', 'Business Services', 'Personal Services',
                       'Taxes', 'Gambling', 'Home',
      'Pension and insurances'


* __receiver_id__: an identifier for the receiving party. The identifier consist of 16 numbers.
* __sender_id__: an identifier for the sending party. The identifier consist of 16 numbers.
* __amount__: the amount which is transferred.
* __timestamp__: the timestamp of the transaction in YYYY-MM-DD HH:MM:SS format.


### 1. Setup <a class="anchor" id="Setup"></a>

Before we start we need to update the sagemaker library

In [1]:
# import sys
# !{sys.executable} -m pip install --upgrade pip       --quiet # upgrade pip to the latest vesion
# !{sys.executable} -m pip install --upgrade sagemaker --quiet # upgrade SageMaker to the latest vesion
# !{sys.executable} -m pip install --upgrade boto      --quiet # upgrade boto to the latest vesion

In [2]:
import mlrun

In [3]:
project = mlrun.get_or_create_project(
    name="sagemaker-v8", 
    user_project=True,
    parameters={
        # "source" : "git://github.com/mlrun/demo-sagemaker#main",
        "default_image" : "yonishelach/sagemaker-demo"
    }
)

> 2024-02-11 11:55:08,243 [info] Project loaded successfully: {'project_name': 'sagemaker-v8'}

Now that we have the latest version we can import the libraries that we'll use in this notebook

In [4]:
import boto3
import io
import sagemaker
import time
import os
from sklearn.metrics import classification_report
import pandas as pd
import numpy as np
from datetime import datetime, timedelta

sagemaker.config INFO - Not applying SDK defaults from location: /etc/xdg/sagemaker/config.yaml
sagemaker.config INFO - Not applying SDK defaults from location: /home/sagemaker-user/.config/sagemaker/config.yaml

In [5]:
sagemaker_role = os.environ["SAGEMAKER-ROLE"]

In [6]:
sess = sagemaker.Session()
write_bucket = sess.default_bucket()
write_prefix = "sagemaker-app-lab"

Let's set the session variables to ensure that SageMaker is configured correctly.

In [7]:
region = sagemaker.Session().boto_region_name
sm_client = boto3.client("sagemaker")
boto_session = boto3.Session(region_name=region)
sagemaker_session = sagemaker.session.Session(boto_session=boto_session, sagemaker_client=sm_client)
role = sagemaker_role
bucket_prefix = "payment-classification"
s3_bucket = sagemaker_session.default_bucket()

We define the factorize key which is used to map the '__transaction_category__' to numeric values

In [8]:
factorize_key = {
    "Uncategorized": 0,
    "Entertainment": 1,
    "Education": 2,
    "Shopping": 3,
    "Personal Care": 4,
    "Health and Fitness": 5,
    "Food and Dining": 6,
    "Gifts and Donations": 7,
    "Investments": 8,
    "Bills and Utilities": 9,
    "Auto and Transport": 10,
    "Travel": 11,
    "Fees and Charges": 12,
    "Business Services": 13,
    "Personal Services": 14,
    "Taxes": 15,
    "Gambling": 16,
    "Home": 17,
    "Pension and insurances": 18,
}

### 2. Data preparation <a class="anchor" id="Data-preparation"></a>

We ingest the simulated data from the public SageMaker S3 training database:

In [9]:
s3 = boto3.client("s3")
s3.download_file(
    f"sagemaker-example-files-prod-{region}",
    "datasets/tabular/synthetic_financial/financial_transactions_mini.csv",
    "financial_transactions_mini.csv",
)

Let's start by loading the dataset from our csv file into a Pandas dataframe

In [10]:
data = pd.read_csv(
    "financial_transactions_mini.csv",
    parse_dates=["timestamp"],
    infer_datetime_format=True,
    dtype={"transaction_category": "string"},
)

The dataframe looks as follows:

| | transaction_category | receiver_id | sender_id | amount | timestamp |
|------:|:-----------------------|-----------------:|-----------------:|---------:|:--------------------|
| 39733 | Shopping | 4258863736072564 | 4630246970548037 | 91.58 | 2021-03-10 01:28:23 |
| 27254 | Shopping | 4356269497886716 | 4752313573239323 | 115.17 | 2021-01-22 23:28:24 |
| 30628 | Shopping | 4233636409552058 | 4635766441812956 | 90.98 | 2021-02-05 03:24:10 |
| 46614 | Shopping | 4054967431278644 | 4823810986511227 | 86.74 | 2021-04-02 14:42:45 |
| 37957 | Shopping | 4831814582525664 | 4254514582909482 | 123.27 | 2021-03-17 11:17:18 |
| 46878 | Shopping | 4425943481448900 | 4349267977109013 | 65.53 | 2021-03-17 15:47:49 |
| 81350 | Auto and Transport | 4146116413442105 | 4062723166078919 | 91.67 | 2021-03-29 13:23:44 |
| 10613 | Entertainment | 4788727923958282 | 4485838385631386 | 76.22 | 2021-02-11 17:45:53 |
| 46715 | Shopping | 4702782703461430 | 4944181591271506 | 86.67 | 2021-03-20 15:37:17 |
| 69110 | Investments | 4180233446952120 | 4702069426390603 | 530.39 | 2021-04-21 08:28:13 |

In [11]:
from utils import update_timestamps
data=update_timestamps(data)
data

,transaction_category,receiver_id,sender_id,amount,timestamp
0,Uncategorized,4518551904499919,4333582346477646,833.26,2024-01-08 07:10:52.429358
1,Uncategorized,4518551904499919,4642413144038776,596.63,2023-12-12 05:06:42.429358
2,Uncategorized,4274544022939522,4952665515556751,176.76,2023-12-22 05:42:42.429358
3,Uncategorized,4518551904499919,4457298962882528,879.78,2024-02-07 03:27:29.429358
4,Uncategorized,4601853246125220,4578126462896710,742.25,2024-02-02 03:03:26.429358
...,...,...,...,...,...
99992,Pension and insurances,4405008355220324,4583355906735225,205.43,2024-02-17 23:37:03.429358
99993,Pension and insurances,4300416744511335,4949240916846171,151.49,2024-01-22 06:43:28.429358
99994,Pension and insurances,4405008355220324,4996896020767264,188.28,2024-01-06 07:04:20.429358
99995,Pension and insurances,4262047194499006,4017367486513464,204.26,2023-12-15 10:38:17.429358
99996,Pension and insurances,4627516674144704,4250420705087194,207.92,2024-02-11 11:55:10.429358

Next, we extract the year, month, day, hour, minute, second from the timestamp and remove the timestamp

In [12]:
data['transaction_id']= data.reset_index().index

### 3. Create feature store <a class="anchor" id="Create-feature-store"></a>

To enrich dataset we will use the [Feature Store](https://aws.amazon.com/sagemaker/feature-store/).

#### feature-group-payment-classification

In [13]:
# move category to the first column to match sagemaker label train convention"
def pop_and_move_to_start(d, key):
    # Pop the item if it exists, otherwise return None
    value = d.pop(key, None)
    if value is not None:
        # Move the popped item to the start
        d = {key: value, **d}
    return d

def calculate_category_distance(event):    
    column_name ='transaction_category_mapped'
    #print(type(event))
    #print(event)
    event = pop_and_move_to_start(event,column_name)
    #print(event)
    category = event[column_name]
    #event[category+'distance'] = abs(event['amount']-event[category+'_avg_1d'])
    event['distance'] = abs(event['amount']/2)
    
    return event

In [14]:
import mlrun.feature_store as fstore
from mlrun.feature_store.steps import OneHotEncoder, MapValues, DateExtractor, DropFeatures

# Define and add value mapping
main_categories = list(factorize_key.keys())

#main_categories = part_categories

# One Hot Encode the newly defined mappings
#one_hot_encoder_mapping = {'transaction_category': main_categories}

# creating feature set
extended_transactions_set = fstore.FeatureSet("transactions",
                                 entities=[fstore.Entity("transaction_id")],
                                 description="transactions feature set")
# setting up the graph
extended_transactions_set.graph \
    .to(DateExtractor(parts = ['year', 'month', 'day', 'hour','minute','second'], timestamp_col = 'timestamp')) \
    .to(MapValues({'transaction_category' : factorize_key}, with_original_features=True)) \

extended_transactions_set.add_aggregation(name='amount',column='amount',operations=['avg'],windows=['1d'],period='1h')

extended_transactions_set.graph \
    .to(name="calculate_category_distance", handler="calculate_category_distance").after_step('Aggregates') \
    .to(DropFeatures(features=['timestamp','transaction_category']))


extended_transactions_set.set_targets()

extended_transactions_set.plot(rankdir="LR", with_targets=True)

In [15]:
# Keeping every second row
df_kept = data.iloc[::2]

# Or, to explicitly remove every second row (the opposite selection)
df_removed = data.drop(data.index[::2])


# Keeping every second row
df_kept = df_removed.iloc[::2]

# Or, to explicitly remove every second row (the opposite selection)
df_removed_v2 = df_removed.drop(df_removed.index[::2])

df_removed_v2

,transaction_category,receiver_id,sender_id,amount,timestamp,transaction_id
3,Uncategorized,4518551904499919,4457298962882528,879.78,2024-02-07 03:27:29.429358,3
7,Uncategorized,4757951915669080,4655296518888015,801.22,2023-12-10 05:59:51.429358,7
11,Uncategorized,4518551904499919,4910949333064003,423.31,2024-01-16 23:31:23.429358,11
15,Uncategorized,4518551904499919,4415760195692405,382.73,2023-11-20 06:23:53.429358,15
19,Uncategorized,4098088980692974,4412940106031926,111.77,2023-11-06 03:05:59.429358,19
...,...,...,...,...,...,...
99979,Pension and insurances,4179606860088849,4359198069543354,302.10,2024-01-09 19:01:59.429358,99979
99983,Pension and insurances,4751538620733305,4021524999937895,115.89,2024-02-05 05:15:44.429358,99983
99987,Pension and insurances,4405008355220324,4165276502284291,207.08,2023-12-14 12:49:32.429358,99987
99991,Pension and insurances,4092115788877543,4328901131757235,355.58,2024-02-20 06:08:09.429358,99991
99995,Pension and insurances,4262047194499006,4017367486513464,204.26,2023-12-15 10:38:17.429358,99995

In [26]:
from utils import update_timestamps
df_removed_v2=update_timestamps(df_removed_v2)
df_removed_v2

,transaction_category,receiver_id,sender_id,amount,timestamp,transaction_id
3,Uncategorized,4518551904499919,4457298962882528,879.78,2024-04-05 04:48:41.521043,3
7,Uncategorized,4757951915669080,4655296518888015,801.22,2024-02-06 07:21:03.521043,7
11,Uncategorized,4518551904499919,4910949333064003,423.31,2024-03-15 00:52:35.521043,11
15,Uncategorized,4518551904499919,4415760195692405,382.73,2024-01-17 07:45:05.521043,15
19,Uncategorized,4098088980692974,4412940106031926,111.77,2024-01-03 04:27:11.521043,19
...,...,...,...,...,...,...
99979,Pension and insurances,4179606860088849,4359198069543354,302.10,2024-03-07 20:23:11.521043,99979
99983,Pension and insurances,4751538620733305,4021524999937895,115.89,2024-04-03 06:36:56.521043,99983
99987,Pension and insurances,4405008355220324,4165276502284291,207.08,2024-02-10 14:10:44.521043,99987
99991,Pension and insurances,4092115788877543,4328901131757235,355.58,2024-04-18 07:29:21.521043,99991
99995,Pension and insurances,4262047194499006,4017367486513464,204.26,2024-02-11 11:59:29.521043,99995

In [27]:
ingested_data = extended_transactions_set.ingest(df_removed_v2, overwrite=True)
ingested_data

,transaction_category_mapped,amount_avg_1d,receiver_id,sender_id,amount,timestamp_year,timestamp_month,timestamp_day,timestamp_hour,timestamp_minute,timestamp_second,distance
transaction_id,,,,,,,,,,,,
3,0,879.78,4518551904499919,4457298962882528,879.78,2024,4,5,4,48,41,439.890
7,0,801.22,4757951915669080,4655296518888015,801.22,2024,2,6,7,21,3,400.610
11,0,423.31,4518551904499919,4910949333064003,423.31,2024,3,15,0,52,35,211.655
15,0,382.73,4518551904499919,4415760195692405,382.73,2024,1,17,7,45,5,191.365
19,0,111.77,4098088980692974,4412940106031926,111.77,2024,1,3,4,27,11,55.885
...,...,...,...,...,...,...,...,...,...,...,...,...
99979,18,302.10,4179606860088849,4359198069543354,302.10,2024,3,7,20,23,11,151.050
99983,18,115.89,4751538620733305,4021524999937895,115.89,2024,4,3,6,36,56,57.945
99987,18,207.08,4405008355220324,4165276502284291,207.08,2024,2,10,14,10,44,103.540
99991,18,355.58,4092115788877543,4328901131757235,355.58,2024,4,18,7,29,21,177.790
99995,18,204.26,4262047194499006,4017367486513464,204.26,2024,2,11,11,59,29,102.130

In [28]:
#data = ingested_data.reset_index(drop=True)
data = ingested_data
#data = data[['transaction_category'] + [col for col in data.columns if col != 'transaction_category']]
data

,transaction_category_mapped,amount_avg_1d,receiver_id,sender_id,amount,timestamp_year,timestamp_month,timestamp_day,timestamp_hour,timestamp_minute,timestamp_second,distance
transaction_id,,,,,,,,,,,,
3,0,879.78,4518551904499919,4457298962882528,879.78,2024,4,5,4,48,41,439.890
7,0,801.22,4757951915669080,4655296518888015,801.22,2024,2,6,7,21,3,400.610
11,0,423.31,4518551904499919,4910949333064003,423.31,2024,3,15,0,52,35,211.655
15,0,382.73,4518551904499919,4415760195692405,382.73,2024,1,17,7,45,5,191.365
19,0,111.77,4098088980692974,4412940106031926,111.77,2024,1,3,4,27,11,55.885
...,...,...,...,...,...,...,...,...,...,...,...,...
99979,18,302.10,4179606860088849,4359198069543354,302.10,2024,3,7,20,23,11,151.050
99983,18,115.89,4751538620733305,4021524999937895,115.89,2024,4,3,6,36,56,57.945
99987,18,207.08,4405008355220324,4165276502284291,207.08,2024,2,10,14,10,44,103.540
99991,18,355.58,4092115788877543,4328901131757235,355.58,2024,4,18,7,29,21,177.790
99995,18,204.26,4262047194499006,4017367486513464,204.26,2024,2,11,11,59,29,102.130

In [30]:
data_cols = list(data.columns)
data_cols

['transaction_category_mapped',
 'amount_avg_1d',
 'receiver_id',
 'sender_id',
 'amount',
 'timestamp_year',
 'timestamp_month',
 'timestamp_day',
 'timestamp_hour',
 'timestamp_minute',
 'timestamp_second',
 'distance']

In [31]:
# Import MLRun's Feature Store
import mlrun.feature_store as fstore

# create feature vector on top of aggreagations
# Define the list of features we will be using
features = [f"transactions.{name}" for name in data_cols[1:]] 


# Define the feature vector name for future reference
fv_name = 'transactions-vector'

# Define the feature vector using our Feature Store (fstore)
transactions_fv = fstore.FeatureVector(fv_name, 
                          features,
                          label_feature='transactions.transaction_category_mapped',
                          description='stocks information')

#label_feature = 'transactions-v2.transaction_category',
# Save the feature vector in the Feature Store
transactions_fv.save()

In [32]:
import mlrun.feature_store as fs
resp = transactions_fv.get_offline_features()
#Preview the dataset
fv_data = resp.to_dataframe()
fv_data

,amount_avg_1d,receiver_id,sender_id,amount,timestamp_year,timestamp_month,timestamp_day,timestamp_hour,timestamp_minute,timestamp_second,distance,transaction_category_mapped
0,879.78,4518551904499919,4457298962882528,879.78,2024,4,5,4,48,41,439.890,0
1,801.22,4757951915669080,4655296518888015,801.22,2024,2,6,7,21,3,400.610,0
2,423.31,4518551904499919,4910949333064003,423.31,2024,3,15,0,52,35,211.655,0
3,382.73,4518551904499919,4415760195692405,382.73,2024,1,17,7,45,5,191.365,0
4,111.77,4098088980692974,4412940106031926,111.77,2024,1,3,4,27,11,55.885,0
...,...,...,...,...,...,...,...,...,...,...,...,...
24994,302.10,4179606860088849,4359198069543354,302.10,2024,3,7,20,23,11,151.050,18
24995,115.89,4751538620733305,4021524999937895,115.89,2024,4,3,6,36,56,57.945,18
24996,207.08,4405008355220324,4165276502284291,207.08,2024,2,10,14,10,44,103.540,18
24997,355.58,4092115788877543,4328901131757235,355.58,2024,4,18,7,29,21,177.790,18
24998,204.26,4262047194499006,4017367486513464,204.26,2024,2,11,11,59,29,102.130,18

In [36]:
svc = transactions_fv.get_online_feature_service()
resp = svc.get([{"transaction_id": "24995"}])
resp

[{'amount_avg_1d': 10.45,
  'receiver_id': 4365439229004487,
  'sender_id': 4895135853273971,
  'amount': 10.45,
  'timestamp_year': 2024,
  'timestamp_month': 3,
  'timestamp_day': 20,
  'timestamp_hour': 4,
  'timestamp_minute': 33,
  'timestamp_second': 58,
  'distance': 5.225}]

In [37]:
svc = transactions_fv.get_online_feature_service()
resp = svc.get([{"transaction_id": "24995"}],as_list=True)
resp

[[10.45,
  4365439229004487,
  4895135853273971,
  10.45,
  2024,
  3,
  20,
  4,
  33,
  58,
  5.225]]

We update the values in the feature store with the real values of our data

And display them after getting them from the feature store

We use the feature store to calculate the distance between the average of every category and the current amount

### 4. Create model <a class="anchor" id="Create-model"></a>
In this notebook we will be using the [Extreme Gradient Boosting](https://docs.aws.amazon.com/sagemaker/latest/dg/xgboost.html) (XGBoost) implementation of the gradient boosted trees algorithm. This model is selected due to it relatively fast training time and explainable properties. The model can be substituted at will a different [SageMaker estimator](https://sagemaker.readthedocs.io/en/stable/api/training/estimators.html) or a [model of your choosing](https://aws.amazon.com/blogs/machine-learning/bring-your-own-model-with-amazon-sagemaker-script-mode/).



Now that we have the dataset we can start preparing the model. First, we create a training, validation and testing split.

In [38]:
import mlrun.feature_store as fs
resp = transactions_fv.get_offline_features()
#Preview the dataset
fv_data = resp.to_dataframe()

column_to_move = 'transaction_category_mapped'

new_columns_order = [column_to_move] + [col for col in fv_data.columns if col != column_to_move]
fv_data = fv_data[new_columns_order]


data = fv_data
data

,transaction_category_mapped,amount_avg_1d,receiver_id,sender_id,amount,timestamp_year,timestamp_month,timestamp_day,timestamp_hour,timestamp_minute,timestamp_second,distance
0,0,879.78,4518551904499919,4457298962882528,879.78,2024,4,5,4,48,41,439.890
1,0,801.22,4757951915669080,4655296518888015,801.22,2024,2,6,7,21,3,400.610
2,0,423.31,4518551904499919,4910949333064003,423.31,2024,3,15,0,52,35,211.655
3,0,382.73,4518551904499919,4415760195692405,382.73,2024,1,17,7,45,5,191.365
4,0,111.77,4098088980692974,4412940106031926,111.77,2024,1,3,4,27,11,55.885
...,...,...,...,...,...,...,...,...,...,...,...,...
24994,18,302.10,4179606860088849,4359198069543354,302.10,2024,3,7,20,23,11,151.050
24995,18,115.89,4751538620733305,4021524999937895,115.89,2024,4,3,6,36,56,57.945
24996,18,207.08,4405008355220324,4165276502284291,207.08,2024,2,10,14,10,44,103.540
24997,18,355.58,4092115788877543,4328901131757235,355.58,2024,4,18,7,29,21,177.790
24998,18,204.26,4262047194499006,4017367486513464,204.26,2024,2,11,11,59,29,102.130

In [39]:
# Randomly sort the data then split out first 70%, second 20%, and last 10%
train_data, validation_data, test_data = np.split(
    fv_data.sample(frac=1, random_state=42), [int(0.7 * len(fv_data)), int(0.9 * len(fv_data))]
)

We save these sets to a file.

In [40]:
train_data.to_csv("train.csv", index=False, header=False)
validation_data.to_csv("validation.csv", index=False, header=False)
test_data.to_csv("test.csv", index=False, header=True)

And upload these files to our s3 bucket

In [41]:
boto3.Session().resource("s3").Bucket(s3_bucket).Object(
    os.path.join(bucket_prefix, "train/train.csv")
).upload_file("train.csv")
boto3.Session().resource("s3").Bucket(s3_bucket).Object(
    os.path.join(bucket_prefix, "validation/validation.csv")
).upload_file("validation.csv")
boto3.Session().resource("s3").Bucket(s3_bucket).Object(
    os.path.join(bucket_prefix, "test/test.csv")
).upload_file("test.csv")

Get the XGBoost sagemaker image

In [42]:
container = sagemaker.image_uris.retrieve(region=region, framework="xgboost", version="1.2-2")

Transform our data to a sagemaker input for training

In [43]:
s3_input_train = sagemaker.inputs.TrainingInput(
    s3_data="s3://{}/{}/train".format(s3_bucket, bucket_prefix), content_type="csv"
)
s3_input_validation = sagemaker.inputs.TrainingInput(
    s3_data="s3://{}/{}/validation/".format(s3_bucket, bucket_prefix), content_type="csv"
)

We define the XGBoost model

In [44]:
xgb = sagemaker.estimator.Estimator(
    container,
    role,
    instance_count=1,
    instance_type="ml.m4.xlarge",
    output_path="s3://{}/{}/output".format(s3_bucket, bucket_prefix),
    sagemaker_session=sagemaker_session,
)

Set the parameters

In [45]:
xgb.set_hyperparameters(
    max_depth=5,
    eta=0.2,
    gamma=4,
    min_child_weight=6,
    subsample=0.8,
    objective="multi:softprob",
    num_class=19,
    verbosity=0,
    num_round=100,
)

And train the model

In [46]:
xgb.fit({"train": s3_input_train, "validation": s3_input_validation})

INFO:sagemaker:Creating training-job with name: sagemaker-xgboost-2024-02-11-12-03-29-991

2024-02-11 12:03:30 Starting - Starting the training job...
2024-02-11 12:03:45 Starting - Preparing the instances for training......
2024-02-11 12:04:42 Downloading - Downloading input data...
2024-02-11 12:05:23 Downloading - Downloading the training image......
2024-02-11 12:06:08 Training - Training image download completed. Training in progress...[2024-02-11 12:06:25.555 ip-10-0-155-6.us-east-2.compute.internal:7 INFO utils.py:27] RULE_JOB_STOP_SIGNAL_FILENAME: None
[2024-02-11:12:06:25:INFO] Imported framework sagemaker_xgboost_container.training
[2024-02-11:12:06:25:INFO] Failed to parse hyperparameter objective value multi:softprob to Json.
Returning the value itself
[2024-02-11:12:06:25:INFO] No GPUs detected (normal if no gpus installed)
[2024-02-11:12:06:25:INFO] Running XGBoost Sagemaker in algorithm mode
[2024-02-11:12:06:25:INFO] Determined delimiter of CSV input is ','
[2024-02-11:12:06:25:INFO] Determined delimiter of CSV input is ','
[2024-02-11:12:06:25:INFO] Determined delimiter of CSV input is ','
[2024-02-11:12:06:25:INFO] Determined delimiter of CSV input is ','
[2024-02-11:12:06:25:INFO] Single node training.
[2024-02-11:12:06:25:INFO] Train matrix has 17499 rows and 11 columns
[2024-02-11:12:06:25:INFO] Validation matrix has 5000 rows
[2024-02-11 12:06:25.675 ip-10-0-155-6.us-east-2.compute.internal:7 INFO json_config.py:91] Creating hook from json_config at /opt/ml/input/config/debughookconfig.json.
[2024-02-11 12:06:25.676 ip-10-0-155-6.us-east-2.compute.internal:7 INFO hook.py:201] tensorboard_dir has not been set for the hook. SMDebug will not be exporting tensorboard summaries.
[2024-02-11 12:06:25.676 ip-10-0-155-6.us-east-2.compute.internal:7 INFO profiler_config_parser.py:102] User has disabled profiler.
[2024-02-11 12:06:25.677 ip-10-0-155-6.us-east-2.compute.internal:7 INFO hook.py:255] Saving to /opt/ml/output/tensors
[2024-02-11 12:06:25.677 ip-10-0-155-6.us-east-2.compute.internal:7 INFO state_store.py:77] The checkpoint config file /opt/ml/input/config/checkpointconfig.json does not exist.
[2024-02-11:12:06:25:INFO] Debug hook created from config
[0]#011train-merror:0.55803#011validation-merror:0.57260
[2024-02-11 12:06:25.895 ip-10-0-155-6.us-east-2.compute.internal:7 INFO hook.py:423] Monitoring the collections: metrics
[2024-02-11 12:06:25.898 ip-10-0-155-6.us-east-2.compute.internal:7 INFO hook.py:486] Hook is writing from the hook with pid: 7
[1]#011train-merror:0.54860#011validation-merror:0.57440
[2]#011train-merror:0.53409#011validation-merror:0.55980
[3]#011train-merror:0.53197#011validation-merror:0.55740
[4]#011train-merror:0.52729#011validation-merror:0.55340
[5]#011train-merror:0.51700#011validation-merror:0.54420
[6]#011train-merror:0.51254#011validation-merror:0.54000
[7]#011train-merror:0.50969#011validation-merror:0.53540
[8]#011train-merror:0.50351#011validation-merror:0.53400
[9]#011train-merror:0.49934#011validation-merror:0.53040
[10]#011train-merror:0.49380#011validation-merror:0.52340
[11]#011train-merror:0.48403#011validation-merror:0.51520
[12]#011train-merror:0.47951#011validation-merror:0.50980
[13]#011train-merror:0.47700#011validation-merror:0.50820
[14]#011train-merror:0.47111#011validation-merror:0.50620
[15]#011train-merror:0.46694#011validation-merror:0.50000
[16]#011train-merror:0.46020#011validation-merror:0.49200
[17]#011train-merror:0.45723#011validation-merror:0.48980
[18]#011train-merror:0.44991#011validation-merror:0.48140
[19]#011train-merror:0.44317#011validation-merror:0.47780
[20]#011train-merror:0.43831#011validation-merror:0.47340
[21]#011train-merror:0.43551#011validation-merror:0.46980
[22]#011train-merror:0.42711#011validation-merror:0.45920
[23]#011train-merror:0.42134#011validation-merror:0.45440
[24]#011train-merror:0.41671#011validation-merror:0.45100
[25]#011train-merror:0.41425#011validation-merror:0.44940
[26]#011train-merror:0.41157#011validation-merror:0.44800
[27]#011train-merror:0.40688#011validation-merror:0.44400
[28]#011train-merror:0.40151#011validation-merror:0.43880
[29]#011train-merror:0.39785#011validation-merror:0.43400
[30]#011train-merror:0.39339#011validation-merror:0.43000
[31]#011train-merror:0.38625#011validation-merror:0.42440
[32]#011train-merror:0.38214#011validation-merror:0.42200
[33]#011train-merror:0.37802#011validation-merror:0.41940
[34]#011train-merror:0.37254#011validation-merror:0.41460
[35]#011train-merror:0.36773#011validation-merror:0.41160
[36]#011train-merror:0.36499#011validation-merror:0.40940
[37]#011train-merror:0.35808#011validation-merror:0.40100
[38]#011train-merror:0.35574#011validation-merror:0.39940
[39]#011train-merror:0.35202#011validation-merror:0.39540
[40]#011train-merror:0.35031#011validation-merror:0.39400
[41]#011train-merror:0.34813#011validation-merror:0.39160
[42]#011train-merror:0.34339#011validation-merror:0.38680
[43]#011train-merror:0.33756#011validation-merror:0.38040
[44]#011train-merror:0.33545#011validation-merror:0.37880
[45]#011train-merror:0.33071#011validation-merror:0.37360
[46]#011train-merror:0.32808#011validation-merror:0.36900
[47]#011train-merror:0.32608#011validation-merror:0.36620
[48]#011train-merror:0.31939#011validation-merror:0.36220
[49]#011train-merror:0.31556#011validation-merror:0.35900
[50]#011train-merror:0.31396#011validation-merror:0.35520
[51]#011train-merror:0.31265#011validation-merror:0.35400
[52]#011train-merror:0.31030#011validation-merror:0.35160
[53]#011train-merror:0.30447#011validation-merror:0.34620
[54]#011train-merror:0.30236#011validation-merror:0.34480
[55]#011train-merror:0.29933#011validation-merror:0.34280
[56]#011train-merror:0.29693#011validation-merror:0.34120
[57]#011train-merror:0.29464#011validation-merror:0.34020
[58]#011train-merror:0.28904#011validation-merror:0.33420
[59]#011train-merror:0.28664#011validation-merror:0.33260
[60]#011train-merror:0.28579#011validation-merror:0.33200
[61]#011train-merror:0.28082#011validation-merror:0.32700
[62]#011train-merror:0.27813#011validation-merror:0.32440
[63]#011train-merror:0.27727#011validation-merror:0.32360
[64]#011train-merror:0.27270#011validation-merror:0.32140
[65]#011train-merror:0.26813#011validation-merror:0.31800
[66]#011train-merror:0.26464#011validation-merror:0.31440
[67]#011train-merror:0.26333#011validation-merror:0.31320
[68]#011train-merror:0.26076#011validation-merror:0.31100
[69]#011train-merror:0.25916#011validation-merror:0.30900
[70]#011train-merror:0.25613#011validation-merror:0.30560
[71]#011train-merror:0.25510#011validation-merror:0.30640
[72]#011train-merror:0.25373#011validation-merror:0.30480
[73]#011train-merror:0.25190#011validation-merror:0.30220
[74]#011train-merror:0.24950#011validation-merror:0.29860
[75]#011train-merror:0.24504#011validation-merror:0.29260
[76]#011train-merror:0.24304#011validation-merror:0.29080
[77]#011train-merror:0.24099#011validation-merror:0.29060
[78]#011train-merror:0.23904#011validation-merror:0.28880
[79]#011train-merror:0.23681#011validation-merror:0.28720
[80]#011train-merror:0.23584#011validation-merror:0.28460
[81]#011train-merror:0.23327#011validation-merror:0.28280
[82]#011train-merror:0.23161#011validation-merror:0.28120
[83]#011train-merror:0.22864#011validation-merror:0.27860
[84]#011train-merror:0.22470#011validation-merror:0.27680
[85]#011train-merror:0.22241#011validation-merror:0.27580
[86]#011train-merror:0.22087#011validation-merror:0.27440
[87]#011train-merror:0.21818#011validation-merror:0.27160
[88]#011train-merror:0.21744#011validation-merror:0.27000
[89]#011train-merror:0.21584#011validation-merror:0.26800
[90]#011train-merror:0.21476#011validation-merror:0.26640
[91]#011train-merror:0.21241#011validation-merror:0.26600
[92]#011train-merror:0.21161#011validation-merror:0.26440
[93]#011train-merror:0.21018#011validation-merror:0.26280
[94]#011train-merror:0.20927#011validation-merror:0.26160
[95]#011train-merror:0.20641#011validation-merror:0.25820
[96]#011train-merror:0.20544#011validation-merror:0.25840
[97]#011train-merror:0.20390#011validation-merror:0.25700
[98]#011train-merror:0.20287#011validation-merror:0.25520
[99]#011train-merror:0.20207#011validation-merror:0.25340

2024-02-11 12:06:53 Uploading - Uploading generated training model
2024-02-11 12:07:05 Completed - Training job completed
Training seconds: 142
Billable seconds: 142

### 5. Using the endpoint <a class="anchor" id="Using-the-endpoint"></a>

Deploy the model to an endpoint

In [47]:
xgb.model_data

's3://sagemaker-us-east-2-934638699319/payment-classification/output/sagemaker-xgboost-2024-02-11-12-03-29-991/output/model.tar.gz'

In [ ]:
serving_function = project.get_function("serving")

In [ ]:
graph = serving_function.set_topology(
    "router",
    mlrun.serving.routers.EnrichmentModelRouter(
        feature_vector_uri="store://feature-vectors/sagemaker-v8-admin/transactions-vector:latest",
        impute_policy={"*": "$mean"}),
)

#graph.to(handler="postprocess", name="postprocess").respond()
# # add the 3 trained models to the Ensemble
# for model in project.list_models('', tag='latest'):
#     name = model.spec.db_key
#     serving_fn.add_model(name, class_name="ClassifierModel", model_path=model.uri)

serving_function.add_model("xgboost-model", class_name="XGBModelServer", model_path=model_path)

# Plot the ensemble configuration
serving_function.spec.graph.plot()

In [ ]:
project.deploy_function("serving")

In [ ]:
samples = test_data.drop('transaction_category',axis=1)[:500].values.tolist()

In [ ]:
response = serving_function.invoke(path='/predict', body={"inputs": samples})

### 6. Evaluate performance <a class="anchor" id="Evaluate-performance"></a>

Run the model on our test data

In [ ]:
s3_data = "s3://{}/{}/test/test.csv".format(s3_bucket, bucket_prefix)

Add the evaluation function to our project

In [ ]:
evaluate_function = project.get_function("evaluate")

Run the evaluation job

In [ ]:
evaluate_run = evaluate_function.run(
    handler="evaluate",
    params={
        "model_path": xgb.model_data,
        "model_name": "xgboost-model",
        "test_set": s3_data,
        "label_column": "transaction_category",
        "factorize_key": factorize_key,
    },
    returns=["classification_report: dataset"])

See the evaluation result

In [ ]:
evaluate_run.artifact("classification_report").as_df()

You should see results similar to this:

```
                        precision    recall  f1-score   support

         Uncategorized       1.00      0.92      0.96        51
         Entertainment       0.81      0.89      0.85      1486
             Education       1.00      0.94      0.97        80
              Shopping       0.86      0.94      0.90      3441
         Personal Care       1.00      0.98      0.99       132
    Health and Fitness       0.99      0.89      0.94       443
       Food and Dining       0.99      0.82      0.90       918
   Gifts and Donations       1.00      0.95      0.97       275
           Investments       0.99      0.97      0.98        88
   Bills and Utilities       1.00      0.99      1.00       332
    Auto and Transport       0.94      0.84      0.88      1967
                Travel       0.96      0.84      0.90       120
      Fees and Charges       1.00      0.94      0.97       106
     Business Services       1.00      0.99      1.00       146
     Personal Services       1.00      0.96      0.98        75
                 Taxes       0.98      0.94      0.96        47
              Gambling       1.00      1.00      1.00        15
                  Home       0.98      0.89      0.93       168
Pension and insurances       0.99      1.00      1.00       110

              accuracy                           0.90     10000
             macro avg       0.97      0.93      0.95     10000
          weighted avg       0.91      0.90      0.90     10000
```

### 7. Clean up <a class="anchor" id="Clean-up"></a>

Remove the feature group and endpoint to clean up

In [ ]:
#feature_group.delete()
#xgb_predictor.delete_endpoint(delete_endpoint_config=True)

## Notebook CI Test Results

This notebook was tested in multiple regions. The test results are as follows, except for us-west-2 which is shown at the top of the notebook.

![This us-east-1 badge failed to load. Check your device's internet connectivity, otherwise the service is currently unavailable](https://prod.us-west-2.tcx-beacon.docs.aws.dev/sagemaker-nb/us-east-1/use-cases|financial_payment_classification|financial_payment_classification.ipynb)

![This us-east-2 badge failed to load. Check your device's internet connectivity, otherwise the service is currently unavailable](https://prod.us-west-2.tcx-beacon.docs.aws.dev/sagemaker-nb/us-east-2/use-cases|financial_payment_classification|financial_payment_classification.ipynb)

![This us-west-1 badge failed to load. Check your device's internet connectivity, otherwise the service is currently unavailable](https://prod.us-west-2.tcx-beacon.docs.aws.dev/sagemaker-nb/us-west-1/use-cases|financial_payment_classification|financial_payment_classification.ipynb)

![This ca-central-1 badge failed to load. Check your device's internet connectivity, otherwise the service is currently unavailable](https://prod.us-west-2.tcx-beacon.docs.aws.dev/sagemaker-nb/ca-central-1/use-cases|financial_payment_classification|financial_payment_classification.ipynb)

![This sa-east-1 badge failed to load. Check your device's internet connectivity, otherwise the service is currently unavailable](https://prod.us-west-2.tcx-beacon.docs.aws.dev/sagemaker-nb/sa-east-1/use-cases|financial_payment_classification|financial_payment_classification.ipynb)

![This eu-west-1 badge failed to load. Check your device's internet connectivity, otherwise the service is currently unavailable](https://prod.us-west-2.tcx-beacon.docs.aws.dev/sagemaker-nb/eu-west-1/use-cases|financial_payment_classification|financial_payment_classification.ipynb)

![This eu-west-2 badge failed to load. Check your device's internet connectivity, otherwise the service is currently unavailable](https://prod.us-west-2.tcx-beacon.docs.aws.dev/sagemaker-nb/eu-west-2/use-cases|financial_payment_classification|financial_payment_classification.ipynb)

![This eu-west-3 badge failed to load. Check your device's internet connectivity, otherwise the service is currently unavailable](https://prod.us-west-2.tcx-beacon.docs.aws.dev/sagemaker-nb/eu-west-3/use-cases|financial_payment_classification|financial_payment_classification.ipynb)

![This eu-central-1 badge failed to load. Check your device's internet connectivity, otherwise the service is currently unavailable](https://prod.us-west-2.tcx-beacon.docs.aws.dev/sagemaker-nb/eu-central-1/use-cases|financial_payment_classification|financial_payment_classification.ipynb)

![This eu-north-1 badge failed to load. Check your device's internet connectivity, otherwise the service is currently unavailable](https://prod.us-west-2.tcx-beacon.docs.aws.dev/sagemaker-nb/eu-north-1/use-cases|financial_payment_classification|financial_payment_classification.ipynb)

![This ap-southeast-1 badge failed to load. Check your device's internet connectivity, otherwise the service is currently unavailable](https://prod.us-west-2.tcx-beacon.docs.aws.dev/sagemaker-nb/ap-southeast-1/use-cases|financial_payment_classification|financial_payment_classification.ipynb)

![This ap-southeast-2 badge failed to load. Check your device's internet connectivity, otherwise the service is currently unavailable](https://prod.us-west-2.tcx-beacon.docs.aws.dev/sagemaker-nb/ap-southeast-2/use-cases|financial_payment_classification|financial_payment_classification.ipynb)

![This ap-northeast-1 badge failed to load. Check your device's internet connectivity, otherwise the service is currently unavailable](https://prod.us-west-2.tcx-beacon.docs.aws.dev/sagemaker-nb/ap-northeast-1/use-cases|financial_payment_classification|financial_payment_classification.ipynb)

![This ap-northeast-2 badge failed to load. Check your device's internet connectivity, otherwise the service is currently unavailable](https://prod.us-west-2.tcx-beacon.docs.aws.dev/sagemaker-nb/ap-northeast-2/use-cases|financial_payment_classification|financial_payment_classification.ipynb)

![This ap-south-1 badge failed to load. Check your device's internet connectivity, otherwise the service is currently unavailable](https://prod.us-west-2.tcx-beacon.docs.aws.dev/sagemaker-nb/ap-south-1/use-cases|financial_payment_classification|financial_payment_classification.ipynb)